## EDA의 필요성
- 데이터 특징과 데이터에 내재된 관계 파악
- 시각화 통계적 분석 방법 활용
- 파악하고자 하는 내용
    - 자료의 유형과 범위
    - 데이터 수준 파악
    - 단독 변수 혹은 복합 변수의 분포 및 의미 파악
- 핵심주제
    - 저항성 강조 : 이상치등 부분적 변동에 대한 민감도 확인
    - 잔차 계산 : 관찰 값들이 주 경향에서 벗어난 정도 파악
    - 자료 변수의 재표현 : 변수를 적당한 척도로 바꾸는 것
    - 시각화를 통한 현시성 : 분석 결과를 이해하기 쉽게 시각화 하는 것

### EDA 특징을 위한 시각화 항목
- Relationship
- Comparison
- Composition
- Distribution

In [1]:
import pandas as pd

In [2]:
titanic_df = pd.read_csv('./csv/titanic.csv')

In [3]:
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [9]:
# drop() 행이나 열을 버린다.
titanic_df.drop(columns=['Cabin','Embarked','Ticket'], inplace=True)
titanic_df.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0            1         0       3    male  22.0      1      0   7.2500
1            2         1       1  female  38.0      1      0  71.2833
2            3         1       3  female  26.0      0      0   7.9250
3            4         1       1  female  35.0      1      0  53.1000
4            5         0       3    male  35.0      0      0   8.0500

### 중복 데이터 처리의 장점
- 메모리 할당 효율 좋아짐
- 비용 절감
- 빠른 데이터 분석
- 분석의 높은 정확도 유지, 잘못 이끄는 전략 피할 수 있음

In [13]:
# 중복 데이터 처리
titanic_df.tail(10)
titanic_df[titanic_df.duplicated()]
titanic_df.drop_duplicates(inplace=True)